<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="recipes">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="shopping-list">Shopping List</a></li>
        <li routerLinkActive="active"><a routerLink="auth">Authenticate</a></li>
        <!-- <li routerLinkActive="active"><a routerLink="auth">Logout</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li style="cursor: pointer;" (click)="onSave()"><a  >Save Data</a></li>
            <li style="cursor: pointer;" (click)="onFetch()"><a >Fetch Data</a></li>
          </ul>
        </li>
        <li style="cursor: pointer;" routerLinkActive="active"><a>Logout</a></li>
      </ul>
      
    </div>
  </div>
</nav>
