<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" >
            <div class="col-xs-12">
                <button type="submit" class="btn btn-success" style="margin-right: 10px;" [disabled]="recipeForm.invalid">Save</button>

                <button type="button" class="btn btn-danger" (click)="onCancel()" >Cancel</button>
            </div>
            <div class="row" >
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" formControlName="name">
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Image URL</label>
                        <input type="text" #imagePath id="imagePath" formControlName="imagePath" class="form-control" formControlName="imagePath">
                    </div>
                    <!-- <img src="" alt="" formControlName="imagePath" class="image-responsive"> -->
                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img [src]=imagePath.value alt="" width="200px" >
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea formControlName="description" type="text" id="description" class="form-control" rows="6"></textarea>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12"  formArrayName="ingredients">
                   <div class="row" *ngFor="let ingCtrl of recipeForm.get('ingredients').controls let i=index" [formGroupName]='i'>
                       <div class="col-xs-8">
                           <input type="text" class="form-control" formControlName="name">
                       </div>
                       <div class="col-xs-2">
                           <input type="number" class="form-control" formControlName="amount"> 
                       </div>
                       <div class="col-xs-2">
                           <button class="btn btn-danger" type="button" (click)="onDelete(i)" >x</button>
                       </div>
                       <hr>
                       
                   </div>
                   <div class="col-xs-2">
                    <button class="btn btn-success" (click)="onAddIngredient() " type="button">Add ingredients</button>
                </div>
                </div>
            </div>
        </form>
    </div>
</div>