<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div *ngIf="isLOading">
      <app-load-spinner></app-load-spinner>
    </div>
    <div *ngIf="error" class="alert alert-danger"><p>{{error}}</p></div>
    <div *ngIf="success" class="alert alert-success"><p>{{success}}</p></div>
    <!-- [ngClass]="{'class': true}" -->
      <form [formGroup]="form" *ngIf="!isLOading">
        
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input type="email" id="email" class="form-control" formControlName='email' />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" formControlName='password' />
        </div>
        <div>
          <button class="btn btn-primary" type="button" [disabled]='form.invalid' (click)="onSubmit()">{{isLoggin ? 'Login':'Sign up'}}</button> |
          <button class="btn btn-primary" type="button" (click)="onSwitch()">Switch to {{isLoggin ? 'Sign up':'Login'}}</button>
        </div>
      </form>
    </div>
   
  
  </div>
  
 