.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: red;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

/* <div class="loadingio-spinner-pulse-ns9s09fxchs"><div class="ldio-0vmkinpmvwwq">
<div></div><div></div><div></div>
</div></div>
<style type="text/css">
@keyframes ldio-0vmkinpmvwwq-1 {
  0% { top: 36px; height: 128px }
  50% { top: 60px; height: 80px }
  100% { top: 60px; height: 80px }
}
@keyframes ldio-0vmkinpmvwwq-2 {
  0% { top: 41.99999999999999px; height: 116.00000000000001px }
  50% { top: 60px; height: 80px }
  100% { top: 60px; height: 80px }
}
@keyframes ldio-0vmkinpmvwwq-3 {
  0% { top: 48px; height: 104px }
  50% { top: 60px; height: 80px }
  100% { top: 60px; height: 80px }
}
.ldio-0vmkinpmvwwq div { position: absolute; width: 30px }.ldio-0vmkinpmvwwq div:nth-child(1) {
  left: 35px;
  background: #e15b64;
  animation: ldio-0vmkinpmvwwq-1 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.2s
}
.ldio-0vmkinpmvwwq div:nth-child(2) {
  left: 85px;
  background: #f8b26a;
  animation: ldio-0vmkinpmvwwq-2 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.1s
}
.ldio-0vmkinpmvwwq div:nth-child(3) {
  left: 135px;
  background: #abbd81;
  animation: ldio-0vmkinpmvwwq-3 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: undefineds
}

.loadingio-spinner-pulse-ns9s09fxchs {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-0vmkinpmvwwq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; 
}
.ldio-0vmkinpmvwwq div { box-sizing: content-box; }

</style> */