<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="formgroup" (ngSubmit)="onAddItem()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="name">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            formControlName="amount">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit"  style="margin-right:10px" [disabled]="!formgroup.valid">{{editMode ? 'Update':'Add'}}</button>
          <button *ngIf="editMode" class="btn btn-danger" type="button" style="margin-right:10px" (click)="onDelete()">Delete</button>
          <button class="btn btn-primary" type="button" style="margin-right:10px" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
